# Compiled Object files
*.slo
*.lo
*.o
*.obj
*user
*.class*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*gcc*

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*run_me*
*icc*
